/*Main area */
body {
    background-color: black;
}

/*top menu */
#mainheader {
    background-color: gray;
}
 nav {
     height: 60px;
     width: 80%;
     margin: 0 auto 20px;
 }

 nav>ul {
     list-style-type: none;
     margin:  0;
     padding: 10px;
     overflow: hidden;
     display: flex;
    
 }
 
     
 nav>ul>li a {
    float: left;
    padding: 10px 10px; 
    display: inline-flex;
    color: darkred;
    font-weight: bold;
    margin: 8px;
 }