/*header & nav bar*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #461257;
}

li {
    list-style: none;
}

a {
    color: burlywood;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-brand {
    font-size: 2rem;
}

.nav-link {
    transition: 0.3s ease;
}

.nav-link:hover {
    color:aquamarine;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: bisque;
}

/*body*/

html{
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-image: url(/Images/background2.jpg);
    
}
main {
    width: 70vw;
    display: block;
    background-color:papayawhip;
    margin: 70px auto 0px auto;
    padding: 30px 20px;
    /*min-height: calc(100vh -70px - 200px);*/
}


body {
    display: flex;
	justify-content: center;
	flex-direction: column;
    
}
.tarotTitle {
    font-size: .7em;
    right: 50%;
}

/*------------------------*/
.horoscope {
    margin-top: 10px;
    background-color: papayawhip;
    width: 80%;
    min-height: 40vw;
    margin: 0 auto;
    
}

label {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-self: center;
    font-size: 1.5em;
    margin-top: 5px;
    
}

legend {
    color: #8a30a8;
    font-size: 2.5em; 
    font-weight: 700;
}

fieldset {
    padding: 10px;
    
    
}

input{
    padding: 3px;
    margin: 4px;
}

input[type="button"] {
    font-size: .7rem;
}

#zodImages {
    width: 60%;

}

#zodInfo {
    font-family: 'Times New Roman', Times, serif;
   /* text-shadow: 1px 0 0 #000,
    0 -1px 0 #000, 0 1px 0 #000,
    -1px 0 0 #000;*/
    color: #8a30a8;
    font-size: 1.5em;
    font-weight: bold;
}

footer {
    background-color: #6f2886;
    color: burlywood;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px;
    clear: both;
    position: relative;
}

footer > p {
    text-align: center;
}
    
/* media query */
@media(max-width:768px){
    .hamburger {
        display: block;
        color: bisque;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #461257;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }  

    .fieldset {
        margin-top: 120px;
    }
}
